@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  /* font-weight: 400; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.nav_search_btn {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}



.home_products {
  z-index: 1;
}

.items {
  z-index: 1;
}

.home_rows {
  z-index: 1;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.payment_container [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + .box_container {
  cursor: pointer;
  width: 100%;
  border: 1px solid gray;
}

.checked_btn {
  visibility: hidden;
}

/* CHECKED STYLES */
.payment_container [type="radio"]:checked + div {
  border: 1px solid indigo;
}

/* CHECKED STYLES */
.payment_container [type="radio"]:checked + div .checked_btn {
  visibility: visible;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, rgb(26, 8, 218), rgb(108, 144, 226));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* dont-account-text  signin */

.dont_have_account::before {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  left: 0;
  right: 5%;
  top: 50%;
  position: absolute;

}
.dont_have_account::after {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  margin-left: 5px;
  right: 0;
  top: 50%;
  position: absolute;

}
