@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  /* font-weight: 400; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.nav_search_btn {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

/* .search_box {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
} */


.home_slider_image {
  z-index: -1;
  height: 100%;
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */

}


.home_products {
  z-index: 1;
}

.items {
  z-index: 1;
}

.home_rows {
  z-index: 1;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.payment_container [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio]+.box_container {
  cursor: pointer;
  width: 100%;
  border: 1px solid gray;

}


.checked_btn {
  visibility: hidden;
}

/* CHECKED STYLES */
.payment_container [type=radio]:checked+div {
  border: 1px solid indigo;
}

/* CHECKED STYLES */
.payment_container [type=radio]:checked+div .checked_btn {
  visibility: visible;
}